$small-range-min: 0;
$small-range-max: 690px;
$medium-range-min: 691px;
$medium-range-max: 1023px;
$large-range-min: 1024px;
$large-range-max: 9999997px;
$xlarge-range-min: 9999998px;
$xlarge-range-max: 9999999px;
