.crossword-cell {
    font-family: $font-family-ubuntu-mono;
    font-weight: $font-style-ubuntu-mono-bold;
    max-width: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    height: auto;

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    border-right: 1px solid $color-cell-border;

    &:before {
        content: '';
        float: left;
    }

    &:not(.empty) {
        background-color: $color-cell;

        .crossword-cell--text {
            cursor: pointer;
        }
    }

    &:last-child {
        border-right: 1px solid transparent;
    }

    &.empty {
        cursor: pointer;
        background-color: $color-cell-empty;
    }

    &--input {
        font-family: $font-family-ubuntu-mono;
        font-weight: $font-style-ubuntu-mono-bold;
        height: 100%;
        width: 100%;
        text-align: center;
        border: none;
    }

    &--text {
        cursor: default;
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;

        &.valid {
            background-color: $color-cell-valid
        }
        &.invalid {
            background-color: $color-cell-invalid
        }
    }

    &--indicator {
        position: absolute;
        font-size: 0.6em;
        color: $color-cell-indicator;
        pointer-events: none;
        top: -13%;
        left: 2px;
    }
}
