.crossword-cell {
    width: 25px;

    &.empty {
        cursor: pointer;
    }

    &--input {
        width: 25px;
        text-align: center;
        border: none;
    }

    &--text {
        cursor: default;
        display: inline-block;
        width: 25px;
        text-align: center;

        &.valid {
            background-color: green;
        }
        &.invalid {
            background-color: red;
        }
    }

    &--indicator {
        position: absolute;
        font-size: 70%;
        color: lightslategray;
        pointer-events: none;
    }
}
